@using OneInc.Models
@model Option
@{
    ViewBag.Title = "Удалить ответ";
}

<div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewBag.Title</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <h3>Вы хотите удалить вопрос?</h3>
                    <div class="table-responsive">
                        <table class="table details">
                            <thead>
                                <tr>
                                    <td colspan="2">
                                        Id @Model.Id
                                    </td>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Question.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Question.Title)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Value)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Question.Value)
                                </td>
                            </tr>

                        </table>
                    </div>
                    @using (Html.BeginForm("Delete","Question", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <a href="@Url.Action("Index")" class="btn btn-danger nav-btn">
                                <span class="glyphicon glyphicon-backward"></span>
                                <span class="text-right">Назад</span>
                            </a>
                            <a href="#" class="btn btn-success nav-btn" fn="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="text-right">Удалить</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{

    <script>
        $("[fn=Delete]").click(function () {
            $("form").submit();
        })
    </script>
}